.LandingPage {}

.LandingPage__Name {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 8rem;
    margin-top: 10vh;
}

.LandingPage__Name_First {
    animation: scroll-right linear;
    animation-timeline: scroll();
}

.LandingPage__Name_Last {
    animation: scroll-left linear;
    animation-timeline: scroll();
}

.LandingPage__Job {
    display: flex;
    flex-direction: column;
    height: 20vh;

    font-size: 4rem;
    margin: 10px;
}

.LandingPage__Presentation {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin: 10px;
}


@keyframes scroll-left {
    0% {
        transform: translateX(0%);

    }

    80% {
        transform: translateX(-5%);
    }

    to {
        transform: translateX(-5%);
        opacity: 0;
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(5%);
    }

    to {
        transform: translateX(5%);
        opacity: 0;
    }
}

.LandingPage__Projects {
    font-size: 2rem;
}

.LandingPage__Job {
    font-size: 4rem;
}