.Footer {
    display: flex;
    justify-content: space-between;
    height: 5vh;

    position: sticky;
    bottom: 0;
    z-index: 100;
}

.Footer__Name {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.Footer__Rechts {
    display: flex;
    margin-right: 10px;
}

.Footer__Rechts_Text {
    margin-right: 10px;
    display: flex;
    align-items: center;
}