.Footer {
    display: flex;
    justify-content: space-between;
    height: 5vh;

    position: sticky;
    bottom: 0;
    z-index: 100;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.1);

}

.Footer__Name {
    display: flex;
    align-items: center;
}

.Footer__Links {
    display: flex;
}

.Footer__Link_Text {
    margin-right: 10px;
    display: flex;
    align-items: center;
}