.Footer {
    display: flex;
    justify-content: space-around;
    outline: var(--dashed-border);
    height: 7vh;
}

.Footer__Name {}

.Footer__Links {
    display: flex;
}

.Footer__Link_Text {
    margin-right: 10px;
}