.NavBar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}


.NavBar__Element {}

.NavBar__Left {
    display: flex;
    margin-left: 10px;
}

.NavBar__Right {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 10px;
}