.NavBar {
    display: flex;
    align-items: center;
    outline: var(--dashed-border);
    height: 7vh;
    overflow: hidden;
}

.NavBar__Container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
}

.NavBar__Element {
    margin-right: 2vw;
}

.NavBar__Left {
    display: flex;
}

.NavBar__Right {
    display: flex;
    align-items: center
}