@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


:root {
  font-family: Orbitron, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body[data-theme="dark"] {
  --background-color-primary: rgb(8, 8, 4);
  --text-color-primary: rgb(240, 240, 229);
  --time-color-transition: 300ms;
  --dashed-border: 2px dashed var(--text-color-primary);

  transition: var(--time-color-transition);
  color: var(--text-color-primary);
  background-color: var(--background-color-primary);

  a {
    color: rgb(98, 192, 98);
  }
}

body[data-theme="light"] {
  --background-color-primary: rgb(240, 240, 229);
  --text-color-primary: rgb(8, 8, 4);
  --time-color-transition: 300ms;
  --dashed-border: 2px dashed var(--text-color-primary);


  transition: var(--time-color-transition);
  color: var(--text-color-primary);
  background-color: var(--background-color-primary);

  a {
    color: rgb(4, 90, 4);
  }
}

body {
  margin: 0;
}