@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


:root {
  font-family: Orbitron, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;



}

body[data-theme="dark"] {
  --background-color-primary: #221d27;
  --text-color-primary: #e6e2eb;
  --text-color-secondary: rgb(101, 102, 95);
  --text-color-third: rgb(92, 92, 92);
  --time-color-transition: 300ms;
  --dashed-border-thickness: 1.5;
  --dashed-border: calc(var(--dashed-border-thickness) * 1px) dashed var(--text-color-third);


  transition: var(--time-color-transition);
  color: var(--text-color-primary);
  background-color: var(--background-color-primary);
  background-size: cover;
  background-image: url('./assets/images/backgrounds/MultimediaEngineer1.jpg');
  background-position: 0 -50vh;
  background-blend-mode: luminosity;
  background-blend-mode: screen;
  background-blend-mode: difference;
  background-blend-mode: overlay;
  background-blend-mode: hard-light;
  background-blend-mode: soft-light;
  background-blend-mode: color-dodge;

  transition: background-image 1s ease-in-out;
  backdrop-filter: blur(3px);

  a {
    color: rgb(220, 225, 231);
    text-decoration: none;
    transition: text-shadow 0.2s ease-in-out;

    &:hover {
      text-shadow: 2px 2px 4px var(--text-color-primary);
    }
  }
}

body[data-theme="light"] {
  --background-color-primary: rgb(167, 172, 189);
  --text-color-primary: rgb(8, 8, 4);
  --text-color-third: rgb(73, 73, 73);

  --time-color-transition: 300ms;
  --dashed-border: 1.5px dashed var(--text-color-third);


  transition: var(--time-color-transition);
  color: var(--text-color-primary);
  background-color: var(--background-color-primary);
  background-size: cover;
  background-image: url('./assets/images/backgrounds/DataAlchemist1.jpg');
  background-position: 0 -50vh;
  background-blend-mode: overlay;

  transition: background-image 1s ease-in-out;
  backdrop-filter: blur(3px);

  a {
    color: rgb(18, 22, 2);
    text-decoration: none;
  }
}


body {
  margin: 0;
}