@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


:root {
  font-family: Orbitron, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;


  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --time-color-transition: 300ms;

}

body[data-theme="dark"] {
  --background-color-primary: black;
  --text-color-primary: white;
  --time-color-transition: 300ms;

  transition: var(--time-color-transition);
  color: var(--text-color-primary);
  background-color: var(--background-color-primary);
}

body[data-theme="light"] {
  --background-color-primary: white;
  --text-color-primary: black;
  --time-color-transition: 300ms;

  transition: var(--time-color-transition);
  color: var(--text-color-primary);
  background-color: var(--background-color-primary);
}

body {
  margin: 0;
}